In [1]:
# ## More Problems to Try :: ( Counts towards final evaluation ) 
# 1. Write a program to find sum all Natural numbers from 1 to N where you have to take N as input from user
# 2. Write a program to find simple interest on a principal amount A at interest rate of R for time period T. Take A, R and T as input from the user.

In [6]:
n = int(input())

3

In [9]:
for i in range(n+1):
  i += i
print (i)

In [11]:
A = float(input())
R = float(input())
T = float(input())

2
2
2

In [14]:
SI = A*R*T/100
print (SI)

0.08