In [1]:
# ## More Problems to Try :: ( Counts towards final evaluation ) 
# 1. Write a program to find sum all Natural numbers from 1 to N where you have to take N as input from user
# 2. Write a program to find simple interest on a principal amount A at interest rate of R for time period T. Take A, R and T as input from the user.

In [6]:
n = int(input())

3

In [9]:
for i in range(n+1):
  i += i
print (i)

In [11]:
A = float(input())
R = float(input())
T = float(input())

2
2
2

In [14]:
SI = A*R*T/100
print (SI)

0.08

In [15]:
range (1,n+1)

range(1, 4)

In [17]:
for i in range(1, n+1):
  print (i , sep='')

1
2
3

In [25]:
list = ['lakshya', 3, A, 1.0]

In [26]:
list[2]

2.0

In [27]:
list.count(3)

1

In [28]:
list.clear()

In [29]:
list

[]

In [30]:
days = ['mo','tu','we','th','fr','sa','su']
for i in range (0,7):
  print(days[i])

mo
tu
we
th
fr
sa
su

In [31]:
for day in days:
  print(day)

mo
tu
we
th
fr
sa
su

In [35]:
for i in range (1,101):
  if i % 3 == 0 and i % 5 == 0:
    print ('fizzbuzz')
  elif i % 3 == 0:
    print ('fizz')
  elif i % 5 == 0:
    print ('buzz')
  else:
    print (i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

## Day 2 HW
# micro project
'''
Design a food menu app where a user can select an item out of multiple 
choices shown to the user. The item selected by the user is shown to the user as the output.
'''

In [3]:
food_menu = ['0 - pav_bhaji - Rs60', '1 - vada_pav - Rs10', '2 - kanda_poha - Rs10']
print (food_menu)
print ('select food item')
x = int(input())
food_menu[x]

['0 - pav_bhaji - Rs60', '1 - vada_pav - Rs10', '2 - kanda_poha - Rs10']
select food item
2

'2 - kanda_poha - Rs10'